apiVersion: v1
kind: PersistentVolume
metadata:
  name: mysql-pv-volume
  namespace: jpetstore
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  nfs:
    server: 140.119.163.226
    path: /jpetstore